/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
body 
{
	width: 750px;
	margin: 0 auto;
}

table 
{
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;
}

thead 
{
	background-color: yellow;
}

th, td 
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

tbody tr:nth-child(even) td 
{
	background-color: yellow;
}

#Total{
	text-align: right;
}

#renk{
	background-color: white;
}

#one {
	text-align: right;
	background-color: yellow;
}

div {
	border: 2px solid black;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  }