body{
    margin: 0px;
}
main {
    display: block; 
    margin-left: 20px;
    margin-right: 20px;
  }
  
h1{
    text-align: center;
}
.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    background: #24262b;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}
.navbar ul{
    list-style-type: none;
    background-color: #24262b;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}
.main{
    display: block
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col p{
    color: #bbbbbb;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 75%;
  margin: auto;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.6rem;
}

.active,
.accordion:hover {
  background-color: #f1f7f5;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: #fffffffe;
  display: none;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.faq.active {
  border: none;
}

.contactusbanner {
    text-align: center;
    background-color: #ffffff;
    margin: 0 auto;
}
 
.contactusbanner img {
    max-width: 100%;
    height: auto;
}

.contactuscontact-form {
    padding: 40px 0;
    margin: 0 10px;
}
 
.contactusform-container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
 
.contactuscontact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
 
.contactusform-group {
    margin-bottom: 20px;
}
 
.contactusform-container label {
    display:block;
    font-weight: bold;
}
.contactusform-container input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
}
.contactussubmit-button {
    padding: 10px 20px;
    background-color: #e91e63;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}
 
.contactuscontact-info {
    text-align: center;
    padding: 50px 0;
    background-color: #f7f7f7;
}
 
.contactuscontact-info h2 {
    margin-bottom: 20px;
}
 

.contactusfooter {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}

.hamburger {
    display: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
}
 
@media only screen and (max-width: 768px) {
    .logo {
        display: none;
    }
 
    .hamburger {
        display: flex;
    }
 
    #nav-menu {
        position: absolute;
        top: 4rem;
        left: 0;
        background-color: #333;
        width: 100%;
        display: none;
    }
 
    #nav-menu.active {
        display: block;
        flex-direction: row;
        padding: 1rem;
    }
}
.aboutus-header {
	width:90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 20px auto;
}

.aboutus-header h1 {
	font size: 50px;
	color: #000;
	margin-bottom : 25px;
	position: relative;
}

.aboutus-header h1::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	display: block;
	margin: 0 auto;
	background-color: #e91e63;
}

.aboutus-header p {
	font-size: 18px;
	color: #666;
	margin-bottom: 35px;
}

.aboutus-container {
	width: 90%;
	margin: 0 auto;
	padding: 10px 20px;

}
.about {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap:  wrap;
}
.about-image {
	flex: 1;
	margin-right: 40px;
	overflow: hidden;
}
.about-image img {
	max-width: 100%;
	height: auto;
	display: block;
	transition:0.5s ease;
}
.about-image:hover img {
	transform: scale(1.2);
}
.about-content {
	flex: 1;
}
.about-content h2{
	font-size: 23px;
	margin-bottom: 15px;
	color: #333;
}
.about-content p{
	display: inline-block;
	padding: 10px 20px;
	color: fff;
	font-size:  19px;
	text-decoration: none;
	border-radius: 25px;
	margin-top: 15px;
	transition: 0.3s ease;
}
.aboutcontent .contact-usbutton{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;

}
.aboutcontent .contact-usbutton:hover{
    background-color: #e91e63;
}

@media screen and (max-width: 768px) {
	.aboutus-header{
		padding: 0px 20px;
	}
	.aboutus-header h1{
		font-size: 36px;
	}
	.aboutus-header p{
		font-size: 0px;
	}
	.about {
		padding: 20px;
	}
	.about-image{
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.about-content {
		padding: 0px;
		font-size: 16px;
	}
	.about-content .contact-usbutton{
		font-size: 16px;
		padding: 10px 20px;
    	background-color: #e91e63;
    	border: none;
    	color: white;
    	border-radius: 4px;
    	font-size: 1rem;
    	cursor: pointer;
	}
}



